.home {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leblanc {
  border-radius: 10px;
  align-self: center;
}

.description,
.hours {
  max-width: 50%;
  align-self: center;
  margin-top: 50px;
  line-height: 40px;
}

.hours {
  line-height: 20px;
}

.hours h2 {
  align-self: center;
}

.hours li {
  list-style-type: none;
  padding-left: 0;
}
