h2 {
  font-size: 50px;
}

.home {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leblanc {
  border-radius: 10px;
  align-self: center;
}

.description,
.hours,
.address {
  max-width: 50%;
  min-width: 50%;
  align-self: center;
  line-height: 40px;
  margin: 20px;
}

.description {
  align-self: center;
}

.hours {
  display: flex;
  line-height: 20px;
  flex-direction: column;
}

.hours ul {
  padding: 20px;
}

.hours li {
  list-style-type: none;
  padding-left: 0;
}

.address h2 {
  padding: 0;
}

.address p {
  padding-left: 20px;
}
